@media(max-width: 750px) {

  

  #contact div:last-child {
    display: none;
  }
  #contact{
      
    display: block;
    
   }

  #contact .address{
    /* display: flex; */
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #9a98d9;
    background-color: darkolivegreen;
    color: #fff;
  }
  
  #contact .contactus{
    /* display: flex; */
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #0ddb55; */
  }

  .carousel-item {
    height: 250px;
  }
}


@media(max-width: 364px) {
#navbar .navbar-brand img
  {
    
  
    display: none;
   
  }
}