@media (max-width: 750px) {
  .centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer.content{
  align-content: center;
  margin-left: 5%;
  margin-right: 5%;
  
}
}
