body{
    margin: 0%;
}
.container{
    margin-bottom: -5px;
}
  
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 50px;
    text-align: center;
    width: fit-content;
}
#detail{
    background-color: burlywood;
    padding: 20px;
    text-align: justify;
}

#detail ul{
    margin-bottom: 30px;
}

#detail ul li{
    margin-bottom:10px ;
    
}

.footer.content{
    margin-left: 30%;
    margin-right: 30%;
    align-content: center;
}
.vl {
    border-left: 6px solid brown;
    height: 100px;
    margin-left: 20px;
    margin-right: 0px;
  }

.footer.content > img,
.footer.content > ul,
.footer.content > div {
    display: inline-block;
    vertical-align: middle;
}

.footer.content > img{
    width: 40%;
    height: 40%;
}
.footer.content ul{
    list-style: none;
    margin-left: -20px;
    line-height: 100%;
}


