@media (max-width: 1023px) {
  .centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer.content{
  align-content: center;
  margin-left: 20%;
  margin-right: 20%;
  
}
.vl {
  border-left: 6px solid brown;
  height: 75px;
  margin-left: 20px;
  margin-right: 0px;
}
} 
